﻿@model List<PromoCodeShortResponse>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Promocodes";
}

<h1>Promocodes</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model[0].Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].ServiceInfo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].BeginDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].EndDate)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeginDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
        </tr>
    }
    </tbody>
</table>