﻿@model CustomerResponse

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit customer</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FirstName" class="label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preferences" class="control-label d-block"></label>
                @Html.ListBoxFor(model => model.SelectedPreferences, Model.AllPreferences, new { @class = "form-control", multiple = "multiple", id = "Preferences_dropdown" })
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
     <script>
        $(document).ready(function () {
            $('#Preferences_dropdown').multiselect();
        });
    </script>
    
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}