﻿@model List<CustomerShortResponse>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Customers";
}

<h1>Customers</h1>
<hr />
<h4>Create new customer</h4>

@{
    var customer = new CreateOrEditCustomerRequest();
}
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Create">
            <div class="form-group">
                <label asp-for="@customer.FirstName" class="control-label"></label>
                <input asp-for="@customer.FirstName" class="form-control" />
                <span asp-validation-for="@customer.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@customer.LastName" class="control-label"></label>
                <input asp-for="@customer.LastName" class="form-control" />
                <span asp-validation-for="@customer.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@customer.Email" class="control-label"></label>
                <input asp-for="@customer.Email" class="form-control" />
                <span asp-validation-for="@customer.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model[0].FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Email)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}